{% block sw_cms_element_rezon_category_slider_config %}
<div class="sw-cms-el-config-rezon-category-slider">
    {% block sw_cms_element_rezon_category_slider_config_tabs %}
    <sw-tabs
        position-identifier="sw-cms-element-config-rezon-category-slider"
        class="sw-cms-el-config-rezon-category-slider__tabs"
        default-item="content"
    >
        <template #default="{ active }">
            {% block sw_cms_element_product_slider_config_tab_content %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.content')"
                name="content"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
            {% endblock %}
            {% block sw_cms_element_product_slider_config_tab_options %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.settings')"
                name="settings"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
            {% endblock %}
        </template>

        <template #content="{ active }">
            {% block sw_cms_element_product_slider_config_content %}
            <sw-container
                v-if="active === 'content'"
                class="sw-cms-el-config-product-slider__tab-content"
            >
                {% block sw_cms_element_product_slider_config_content_title %}
                <mt-text-field
                    v-model="element.config.title.value"
                    class="sw-cms-el-config-rezon-category-slider__tab-content-title"
                    label="Title"
                    placeholder="Category slider title"
                />
                {% endblock %}

                {% block sw_cms_element_rezon_category_slider_config_content_include_child_categories %}
                <mt-number-field
                    v-model="element.config.includeChildCategories.value"
                    class="sw-cms-el-config-rezon-category-slider__tab-content-include-child"
                    label="Include child categories"
                    help-text="Number of child category levels to include"
                    number-type="int"
                    :min="0"
                />
                {% endblock %}

                {% block sw_cms_element_rezon_category_slider_config_content_categories %}
                <sw-entity-multi-select
                    v-model:entity-collection="categoryCollection"
                    entity="category"
                    label="Category"
                    label-property="name"
                    placeholder="Select categories"
                    :criteria="categoryCriteria"
                >
                    <template #result-label="{ item }">
                        <span class="sw-cms-el-config-rezon-category-slider__category-label-main">
                            {{ getCategoryDisplayName(item) }}
                        </span>
                        <span
                            v-if="getCategoryBreadcrumbLabel(item)"
                            class="sw-cms-el-config-rezon-category-slider__category-label-parent"
                        >
                            ({{ getCategoryBreadcrumbLabel(item) }})
                        </span>
                    </template>
                </sw-entity-multi-select>
                {% endblock %}
            </sw-container>
            {% endblock %}

            {% block sw_cms_element_rezon_category_slider_config_settings %}
            <sw-container
                v-if="active === 'settings'"
                class="sw-cms-el-config-rezon-category-slider__tab-settings"
            >
                <div class="sw-cms-el-config-rezon-category-slider__tab-settings-display">
                    {% block sw_cms_element_rezon_category_slider_config_settings_display_mode %}
                    <mt-select
                        v-model="element.config.displayMode.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-display-mode"
                        :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                        help-text="How should the image be displayed?"
                        :options="displayModeOptions"
                    />
                    {% endblock %}
                </div>

                <div class="sw-cms-el-config-rezon-category-slider__tab-settings-alignment has--two-elements">
                    {% block sw_cms_element_rezon_category_slider_config_settings_min_width %}

                    <mt-text-field
                        v-model="element.config.elMinWidth.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-alignment-min-width"
                        label="Min width"
                        placeholder="e.g. 300px"
                        help-text="Minimum width of each element in the slider"
                    />
                    {% endblock %}

                    {% block sw_cms_element_rezon_category_slider_config_settings_vertical_align %}
                    <mt-select
                        v-model="element.config.verticalAlign.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-alignment-vertical"
                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                        :options="alignmentOptions"
                    />
                    {% endblock %}
                </div>

                <div class="sw-cms-el-config-rezon-category-slider__tab-settings-layout has--two-elements">
                    {% block sw_cms_element_rezon_category_slider_config_settings_box_layout %}
                    <mt-select
                        v-model="element.config.boxLayout.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-layout-type"
                        label="Layout type"
                        :options="boxLayoutOptions"
                    />
                    {% endblock %}

                    {% block sw_cms_element_rezon_category_slider_config_settings_border %}
                    <mt-switch
                        v-model="element.config.border.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-layout-border"
                        label="Border"
                        bordered
                    />
                    {% endblock %}
                </div>

                <div class="sw-cms-el-config-rezon-category-slider__tab-settings-navigation">
                    {% block sw_cms_element_rezon_category_slider_config_settings_navigation_arrows %}
                    <mt-select
                        v-model="element.config.navigationArrows.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-navigation-arrows"
                        label="Navigation arrows"
                        :options="arrowOptions"
                        @update:model-value="emitUpdateEl"
                    />
                    {% endblock %}
                </div>

                <div class="sw-cms-el-config-rezon-category-slider__tab-settings-speed">
                    {% block sw_cms_element_rezon_category_slider_config_settings_speed %}
                    <mt-number-field
                        v-model="element.config.speed.value"
                        class="sw-cms-el-config-rezon-category-slider__tab-settings-speed"
                        number-type="int"
                        :min="0"
                        :max="3600000"
                        :label="$tc('sw-cms.elements.general.config.label.speed')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.speed')"
                        :help-text="$tc('sw-cms.elements.general.config.helpText.speed')"
                    />
                    {% endblock %}
                </div>

                <mt-banner
                    class="sw-cms-el-config-rezon-category-slider__tab-settings-rotate"
                    variant="attention"
                    :title="$tc('sw-cms.elements.general.config.infoText.autoSlideTitle')"
                >
                    <p class="sw-cms-el-config-rezon-category-slider__tab-settings-rotate-attention">
                        {{ $tc('sw-cms.elements.general.config.infoText.autoSlide') }}
                    </p>

                    <div class="sw-cms-el-config-rezon-category-slider__tab-settings-rotate-config has--two-elements">
                        {% block sw_cms_element_rezon_category_slider_config_settings_rotate %}
                        <mt-switch
                            v-model="element.config.rotate.value"
                            class="sw-cms-el-config-rezon-category-slider__tab-settings-rotate-switch"
                            :label="$tc('sw-cms.elements.general.config.label.autoSlide')"
                            bordered
                        />
                        {% endblock %}

                        {% block sw_cms_element_rezon_category_slider_config_settings_autoplay_timeout %}
                        <mt-number-field
                            v-model="element.config.autoplayTimeout.value"
                            class="sw-cms-el-config-rezon-category-slider__tab-settings-rotate-autoplay"
                            number-type="int"
                            :min="0"
                            :max="3600000"
                            :label="$tc('sw-cms.elements.general.config.label.autoplayTimeout')"
                            :placeholder="$tc('sw-cms.elements.general.config.label.autoplayTimeout')"
                            :help-text="$tc('sw-cms.elements.general.config.helpText.autoplayTimeout')"
                        />
                        {% endblock %}
                    </div>
                </mt-banner>
            </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
    {% endblock %}
</div>
{% endblock %}
