@import "~scss/variables";

.sw-cms-el-config-rezon-category-slider {
    .sw-cms-el-config-rezon-category-slider__tabs {
        .sw-cms-el-config-rezon-category-slider__tab-content {
            .sw-cms-el-config-rezon-category-slider__tab-content-categories {
                margin-bottom: 22px;
            }
        }

        .sw-cms-el-config-rezon-category-slider__tab-settings {
            display: grid;
            gap: 0 30px;
        }
    }

    &__tab-settings-rotate-switch,
    &__tab-settings-rotate-autoplay {
        margin-bottom: 0;
    }

    .sw-select-result .sw-select-result__result-item-text {
        display: block;

        .sw-highlight-text {
            display: inline;
        }
    }

    &__category-label-main {
        font-weight: 600;
    }

    &__category-label-parent {
        color: #758ca3;
        font-size: 12px;
        margin-left: 4px;
    }

    &__category-label-url {
        font-size: 0.7rem;
        color: $color-gray-400;
        margin-left: 5px;
        font-style: italic;
    }

    .sw-select-result__result-item-text {
        .sw-cms-el-config-rezon-category-slider__category-label-main {
            display: inline-block;
        }

        .sw-cms-el-config-rezon-category-slider__category-label-parent {
            display: inline-block;
        }

        .sw-cms-el-config-rezon-category-slider__category-label-url {
            display: inline-block;
        }
    }

    .has--two-elements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
