@import "~scss/variables";

.sw-cms-el-rezon-category-slider {
    width: 100%;

    .sw-cms-el-rezon-category-slider__title {
        margin: 20px 0;
    }

    &.has--navigation-indent {
        &.has--border {
            margin: 20px;
        }

        .sw-cms-el-rezon-category-slider__content {
            display: grid;
            grid-template-columns: 32px 1fr 32px;
            gap: 0 8px;
        }

        .sw-cms-el-rezon-category-slider__title {
            margin: 20px 40px;
        }
    }

    .sw-cms-el-rezon-category-slider__navigation-button {
        translate: 0 20px;
    }

    .has--arrow-inside {
        position: absolute;
        height: 65px;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        z-index: $z-index-overlay;
        opacity: 0.5;
        background-color: $color-gray-200;

        &.is--right-arrow {
            left: unset;
            right: 0;
        }

        &:hover {
            opacity: 1;
        }
    }

    &.has--border {
        padding: 20px;
        border: 1px solid $color-gray-300;
        border-radius: $border-radius-default;

        .sw-cms-el-rezon-category-slider__title {
            margin-top: 0;
        }
    }

    .sw-cms-el-rezon-category-slider__content {
        .sw-cms-el-rezon-category-slider__navigation {
            align-self: center;
            justify-self: center;
        }

        .sw-cms-el-rezon-category-slider__category-holder {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            min-height: 200px;
        }

        .sw-cms-el-rezon-category-slider__category-item,
        .sw-cms-el-rezon-category-slider__demo-item {
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sw-cms-el-rezon-category-slider__demo-content,
        .sw-cms-el-rezon-category-slider__category-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}
