.sw-cms-el-preview-rezon-category-slider {
    align-items: center;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-gap: 5px;
    height: 100%;

    .sw-cms-el-preview-rezon-category-slider__category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        text-align: center;

        p {
            margin: 0;
            font-size: 10px;
        }
    }
}
