// Styles for category slider (same as original product-slider)
// Number of elements per slide is determined automatically via productboxMinWidth
.category-slider {
    position: relative;
    width: 100%;
}

.category-slider-container {
    display: flex;
}

.category-slider-item {
    box-sizing: border-box;
}

.category-slider .card {
    width: 100%;
    max-width: 100%;
}
