{% block sw_cms_block_rezon_category_slider %}
<div class="sw-cms-block-rezon-category-slider">
    <slot name="left"></slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
