{% block sw_cms_block_rezon_category_slider_preview %}
<div class="sw-cms-preview-rezon-category-slider">
    <mt-icon
        name="regular-chevron-left"
        size="20"
    />
    <div class="sw-cms-preview-rezon-category-slider__category-box">
        <div class="sw-cms-preview-rezon-category-slider__category-item">
            <sw-cms-product-box-preview />
            <p class="sw-cms-preview-rezon-category-slider__category-label">Category</p>
        </div>
        <div class="sw-cms-preview-rezon-category-slider__category-item">
            <sw-cms-product-box-preview />
            <p class="sw-cms-preview-rezon-category-slider__category-label">Category</p>
        </div>
        <div class="sw-cms-preview-rezon-category-slider__category-item">
            <sw-cms-product-box-preview />
            <p class="sw-cms-preview-rezon-category-slider__category-label">Category</p>
        </div>
    </div>
    <mt-icon
        name="regular-chevron-right"
        size="20"
    />
</div>
{% endblock %}
