{% block sw_cms_block_rezon_category_slider_preview %}
<div class="sw-cms-preview-rezon-category-slider">
    <mt-icon
        name="regular-chevron-left"
        size="12"
    />
    <div class="sw-cms-preview-rezon-category-slider__category-box">
        <sw-icon name="regular-folder" size="48"></sw-icon>
        <p>Kategorie</p>
    </div>
    <mt-icon
        name="regular-chevron-right"
        size="12"
    />
</div>
{% endblock %}
