{% block sw_cms_block_rezon_category_slider_preview %}
<div class="sw-cms-preview-rezon-category-slider">
    
   <mt-icon
        name="regular-chevron-left"
        size="15"
    />
    <img
        :src="assetFilter('/administration/administration/static/img/cms/preview_camera_small.jpg')"
        alt=""
    >
    <img
        :src="assetFilter('/administration/administration/static/img/cms/preview_plant_small.jpg')"
        alt=""
    >
    <img
        :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_small.jpg')"
        alt=""
    >

<mt-icon
        name="regular-chevron-right"
        size="15"
    />
</div>
{% endblock %}
